  <!-- <button class="btn btn-primary" (click)="render(show)">View Inventor</button>
  <button class="btn btn-warning ms-3" (click)="renderProduct(showProduct)">View Product</button> -->
  <div class="row">
    <div class="col-4">
    <form action=""  class="mb-3">
      <div class="mb-3">
        <label for="content" class="form-label">Tìm kiếm</label>
        <input type="text" class="form-control" id="content" placeholder="Bạn muốn tìm gì" (input)="onSearch($event)">
      </div>
      <!-- <h2 class="alert alert-info">ADD STUDENT</h2> -->
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" (input)="onChangeInput($event,'name')" value="{{this.newStudent?.name}}">
      </div>
      <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" (input)="onChangeInput($event,'age')" value="{{this.newStudent?.age}}" >
      </div>
      <div class="mb-3">
        <label for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input type="text" class="form-control" id="PhoneNumber" (input)="onChangeInput($event,'phoneNumber')" value="{{this.newStudent?.phoneNumber}}">
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email"  (input)="onChangeInput($event,'email')" value="{{this.newStudent?.email}}">
      </div>
      <div class="mb-3">
        <label for="Avatar" class="form-label">Avatar</label>
        <input type="text" class="form-control" id="Avatar"  (input)="onChangeInput($event,'avatar')" value="{{this.newStudent?.avatar}}">
      </div>
      <button type="button" class="btn btn-primary" (click)="ThemMoi()" [disabled]="!onValidate(this.newStudent)" >SAVE</button>

    </form>
    </div>
    <div class="col-8">
      <h2 class="alert alert-success">{{title}}</h2>
      <table class="table table-hover text-center ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Avatar</th>
            <th><button class="btn btn-primary" >ADD STUDENT</button></th>
          </tr>
        </thead>
        <tbody *ngIf="students.length > 0">
          <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.phoneNumber}}</td>
            <td>{{student.email}}</td>
            <td><img
                [src]="student.avatar"
                alt="" height="120" width="125"></td>
            <td>
              <button class="btn btn-warning me-1" (click)="edit(student)">EDIT</button>
              <button class="btn btn-danger" (click)="delete(student.id)">DELETE</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>